# --
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
<span>[% Translate("You have undeployed settings:") | html %]</span>
<div class="DeploymentContainer">
    <a href="[% Env("Baselink") %]Action=AdminSystemConfigurationDeployment;Subaction=Deployment" class="CallForAction btn-main btn-primary">
        <span>[% Translate("Standard Deploy") | html %]</span>
    </a>
    <span>[% Translate("or") | html %]</span>
    <a id="QuickDeploy" class="CallForAction btn-main btn-primary-ghost">
        <span>[% Translate("Quick Deploy") | html %]</span>
    </a>
</div>